header, h1{
    color: white;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 40pt ;
    display: flex;
    justify-content: center;
    text-shadow: black 1px 1px 2px;
}
body{
    background: rgb(131,58,180);
    background: linear-gradient(0deg, rgba(131,58,180,0.2) 0%, rgba(253,29,29,0.2) 50%, rgba(252,176,69,0.2) 100%);
}
img{
    height: 350pt ;
    display: block;
    margin-left: auto;
    margin-right: auto;
    border-radius: 10pt;   
    box-shadow: black 3px 3px 3px;
}
.list, h3{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: white;
    display: flex;
    justify-content: center;
    font-size: xx-large;
    text-shadow: black 1px 1px 2px;
}
.vid{
    display: flex;
    justify-content: center;
}
.registertext{
    color: white;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: xx-large;
    display: flex;
    justify-content: center;
    text-shadow: black 1px 1px 2px;
}
.form{
    color: white;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    display: flex;
    justify-content: center;
    font-size:large;
    text-shadow: black 1px 1px 2px;
}
.map{
    display: flex;
    justify-content: center;
}
.link{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: x-large;
    display: flex;
    justify-content: center;
    text-shadow: white 1px 1px 2px;
}
footer {
    display: flex;
    justify-content: center;
    padding: 1px;
    background-color: #45a1ff;
    color: white;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: small;
    text-shadow: black 1px 1px 2px;
}
